@keyframes rotation{
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.animate {
    animation: rotation 3s linear infinite;
}

/* Customizações Gerais */
:root {
    --primary-color: #02786c;
    --secondary-color: #00887a;
}
.page__margin-top {
    margin-top: 1rem;
}

/*Header*/
.header,
.subheader,
.footer {
    color: #FFF;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.header {
    padding: 20px 15px;
    background-color: var(--primary-color);
    justify-content: space-between;
    border-bottom: 1px solid #209d74;
}

    .header__title {
        font-size: 1.5rem;
    }

    .header__link-sair {
        color: #FFF;
    }

.subheader {
    padding: 10px 15px;
    background-color: var(--secondary-color);
    justify-content: flex-end;
}

    .subheader a {
        color: #FFF;
    }

    .subheader__icon {
        height: 15px;
    }

/*Footer*/
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 15px;
    background-color: var(--secondary-color);
    justify-content: center;
}

    .footer a {
        color: #FFF;
    }

    .footer .footer__link-data {
        padding: 0 15px;
        margin: 0 50px;
    }

    .footer__button {
        border: none;
        background-color: transparent;
    }

    .footer__icon {
        display: block;
        height: 20px;
    }

a{
    color:#0088ce;
}

/* Página de login */
.page-login {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    margin-top: 5rem;
}
.page-subtitle {
    display: block;
    text-align: center;
}
.page-title{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 3rem;
    padding: 0 0.5rem 1.5rem 0.5rem;
    border-bottom: 2px solid #598b4f;
}
.btn-infoleg{
    color: #fff;
    background-color: #598b4f;
    border-color: #385D30;
}

/* Registrar presença */
.dep-name {
    margin-top: 2rem;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}
.dep-registration{
    text-align: center;
}
.result-text__title{
    font-weight: bold;
    line-height: 1.3rem;
    margin: 0;
}
.img-success{
    background-image: url(../img/success.png);
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    float: left;
    text-align: center;
    margin: 0 1rem 1rem 0;
}


