@keyframes rotation{
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.animate {
    animation: rotation 3s linear infinite;
}

/* Customizações Gerais */
:root {
    --primary-color: #015950;
    --secondary-color: #00645a;
}
.page__margin-top {
    margin: 0;
    padding: 0;
}
.card.card-session{
    border-radius: 0;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
}

* {
    color: #404040;
}

body {
    background-color: #eee;
    padding-bottom: 50px;
}

/*Header*/
.header,
.subheader,
.footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.header {
    padding: 20px 15px;
    background-color: var(--primary-color);
    justify-content: space-between;
    border-bottom: 1px solid #209d74;
    background: url(../images/bg_topo.png),-moz-linear-gradient(left,#209d74 0,#015950 45%);
    background: url(../images/bg_topo.png),-webkit-gradient(linear,left top,right top,color-stop(0,#209d74),color-stop(45%,#015950));
    background: url(../images/bg_topo.png),-webkit-linear-gradient(left,#209d74 0,#015950 45%);
    background: url(../images/bg_topo.png),-o-linear-gradient(left,#209d74 0,#015950 45%);
    background: url(../images/bg_topo.png),-ms-linear-gradient(left,#209d74 0,#015950 45%);
    background: url(../images/bg_topo.png), linear-gradient(to right ,#209d74 0,#015950 45%);
}

@media (min-width: 768px){
    .header {
        background: url(../images/bg_topo.png) no-repeat right -15px,url(../images/logo-camara-transp.png) 30px 12px no-repeat,-webkit-gradient(linear,left top,right top,color-stop(0,#209d74),color-stop(45%,#015950));
        background: url(../images/bg_topo.png) no-repeat right -15px,url(../images/logo-camara-transp.png) 30px 12px no-repeat,-webkit-linear-gradient(left,#209d74 0,#015950 45%);
        background: url(../images/bg_topo.png) no-repeat right -15px,url(../images/logo-camara-transp.png) 30px 12px no-repeat,-o-linear-gradient(left,#209d74 0,#015950 45%);
        background: url(../images/bg_topo.png) no-repeat right -15px,url(../images/logo-camara-transp.png) 30px 12px no-repeat,-ms-linear-gradient(left,#209d74 0,#015950 45%);
        background: url(../images/bg_topo.png) no-repeat right -15px,url(../images/logo-camara-transp.png) no-repeat,linear-gradient(to right,#209d74 0,#015950 45%);
    }
}

    .header__title {
        font-size: 1.5rem;
        color: #FFF;
    }

        .header__title--center {
            width: 100%;
            text-align: center;
        }

    .header__link-sair {
        color: #FFF;
    }

.subheader {
    padding: 10px 15px;
    background-color: var(--secondary-color);
    justify-content: flex-end;
}

    .subheader a {
        color: #FFF;
    }

    .subheader__icon {
        height: 15px;
    }

.success-ckeck__icon {
    height: 45px;
    float: left;
    margin: 0 1rem 0 1rem;
}
.erro-ckeck__icon {
    height: 45px;
    float: left;
    margin: 0 1rem 0 1rem;
}

/*Footer*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 15px;
    background-color: var(--secondary-color);
    justify-content: center;
}
    .footer--back {
        justify-content: flex-start;
    }

    .footer a {
        color: #FFF;
    }

    .footer .footer__link-data {
        padding: 0 15px;
        margin: 0 50px;
    }

    .footer__button {
        border: none;
        background-color: transparent;
    }

    .footer__icon {
        height: 20px;
    }

a{
    color:#333333;
    text-decoration: none!important;
}

/* Página de login */
.page-login {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    margin-top: 5rem;
}
.page-subtitle {
    display: block;
    text-align: center;
}
.page-title{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 3rem;
    padding: 0 0.5rem 1.5rem 0.5rem;
    border-bottom: 2px solid #598b4f;
}
.btn-infoleg{
    color: #fff;
    background-color: #598b4f;
    border-color: #385D30;
}

/* Registrar presença */
.dep-name {
    margin: 2rem 0 0 0;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}
.dep-registration{
    text-align: center;
}
.result-text__title{
    font-weight: bold;
    line-height: 1.3rem;
    margin: 0;
}
.result-text {
    margin: 0;
    color: #333333;
    display: block;
}
.img-success{
    background-image: url(../img/success.png);
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    float: left;
    text-align: center;
    margin: 0 1rem 1rem 0;
}


.card-sessoes {
    background-color: #FFF;
    width: 100%;
    padding: 20px 15px;
    margin-top: 20px;
    -webkit-box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.5);
}

    .card-sessoes__ongoing {
        border-left: 5px solid #018102;
    }

    .card-sessoes__invoked {
        border-left: 5px solid #20518f;
    }

    .card-sessoes__finished {
        border-left: 5px solid #575757;
    }

    .card-sessoes__cancelled {
        border-left: 5px solid #d9534f;
    }

    .card-sessoes__hora {
        font-size: 0.9rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        color: var(--primary-color);
        margin: 0 0 .1rem 0;
    }

    .card-sessoes__title {
        font-size: 1.15rem;
    }

    .card-sessoes__text {
        margin: 0;
        line-height: 1.2rem;
    }

    .badge--ongoing {
        background-color: #018102;
    }

    .badge--invoked {
        background-color: #20518f;
    }

    .badge--finished {
        background-color: #575757;
    }

    .badge--cancelled {
        background-color: #d9534f;
    }

        .card-sessoes__icon--mini {
            height: 16px;
            margin-right: 5px;
        }

.card-botoes {
    padding-top: 15px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-around;
    text-align: center;
}

.card-botao {
    width: 30%;
    height: 90px;
    border: solid 1px #ccc;
    background-color: transparent;
    padding: .5rem;
    border-radius: 4px;
    -webkit-box-shadow: 1px 2px 4px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 2px 4px -2px rgba(0,0,0,0.5);
    box-shadow: 1px 2px 4px -2px rgba(0,0,0,0.5);
}

.card-botao__icon {
    height: 30px;
    margin-bottom: 5px;
}

.card-botao__text {
    margin: 0;
    line-height: 1.2rem;
}

/* votar */
.container__vote {
    margin-top: 1rem;
    background: white;
    padding: 1rem;
}

.votar-botoes{
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
    justify-content: space-around;
}
a.btn-votar:hover, a.btn-votar:active{
    color: white;
}
.btn-votar{
    width: 40%;
    border: none;
    background-color: transparent;
    padding: .8rem;
    border-radius: 4px;
    color: white;
    margin: 0.5rem;
    text-align: center;
}
.btn-sim{
    background: #4c8a40;
}
.btn-nao{
    background: #a92f3a;
}
.btn-abs{
    background: #545b62;
}
.btn-obs{
    background: #941d94;
}
.alert.alert-danger.no-border-radius {
    border-radius: 0px;
}
/*
.mark-infoleg {
    position: absolute;
    color: #1d9e74;
    margin-left: 16px;
    font-size: 13px;
    margin-top: 4px;
    letter-spacing: 1px;
}*/