/* Customizações Gerais */
a{
    color:#0088ce;
}

/* Página de login */
.page-login {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    margin-top: 5rem;
}
.page-subtitle {
    display: block;
    text-align: center;
}
.page-title{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 3rem;
    padding: 0 0.5rem 1.5rem 0.5rem;
    border-bottom: 2px solid #598b4f;
}
.btn-infoleg{
    color: #fff;
    background-color: #598b4f;
    border-color: #385D30;
}

/* Registrar presença */
.dep-name {
    margin-top: 2rem;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}
.dep-registration{
    text-align: center;
}
.result-text__title{
    font-weight: bold;
    line-height: 1.3rem;
    margin: 0;
}
.img-success{
    background-image: url(../img/success.png);
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    float: left;
    text-align: center;
    margin: 0 1rem 1rem 0;
}



    
